.accountContactRelationCubeGridEmailButtonCell {
  background: url("../images/pngs/context-mail-icon-1976D2.png") no-repeat !important;
  height: 20px !important;
  width: 20px !important;
  background-size: 20px 20px !important;
  background-position: center center !important;
  border: none !important;
  padding: 0;
  cursor: pointer;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  opacity: 1;
}

la-input#acrcFilterTextArea input {
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  background-image: url("../images/pngs/icon-filter--default.png");
  background-repeat: no-repeat;
  background-position: center left 4px;
  padding: 2px 16px 2px 24px
}